In [ ]:
# importing libraries
import pandas as pd
import json
import statsmodels.api as sm

In [ ]:
# loading datasets
reg = pd.read_csv(f"./CleanedData/Income_Inequality_Regression_Ready.csv").iloc[3:]
ine = pd.read_csv(f"./CleanedData/Income_Inequality_Changes.csv").iloc[3:]

In [3]:
reg

,Destination,income_High,income_Low,income_Mid,0-16,17-34,35-54,55-66,67+,High_0-16,...,Mid_17-34,High_35-54,Low_35-54,Mid_35-54,High_55-66,Low_55-66,Mid_55-66,High_67+,Low_67+,Mid_67+
3,Ashfield_2016,1889.2002,4637.4928,5302.2870,1088.6612,2602.7868,1530.9564,477.9276,6128.6480,159.6117,...,1153.1595,241.0499,595.2654,694.6411,70.6221,192.2306,215.0749,971.7306,2411.3144,2745.6030
4,Ashford_2016,7516.5753,3168.9387,2898.9331,1247.8744,2783.2789,1795.3832,658.8096,7099.1010,721.1703,...,630.2439,988.3480,418.7651,388.2701,389.3573,151.8552,117.5971,3917.8701,1679.0623,1502.1686
5,Babergh_2016,2053.3002,1458.5515,5228.5152,832.3289,1660.8627,1170.9878,476.1372,4600.0503,183.7596,...,934.0859,244.6785,183.5648,742.7445,106.6758,70.8074,298.6540,1075.4108,770.3628,2754.2767
6,Barking and Dagenham_2016,21211.4723,1669.1483,4219.0244,3489.3517,5924.1243,3469.4847,520.9366,13695.7477,2807.0743,...,1022.3412,2774.6026,178.0990,516.7831,415.0563,22.8656,83.0147,10726.1234,847.3245,2122.2998
7,Barnet_2016,37321.1251,3320.4264,8735.8414,3612.4328,13470.8554,5977.3020,1134.6243,25182.1784,2969.5601,...,2814.3607,4928.7135,267.3233,781.2652,854.8563,84.1004,195.6676,19062.9884,1687.1882,4432.0018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2875,Wrexham / Wrecsam_2024,3086.5249,3236.9416,2031.9905,509.7987,2147.8474,1020.2783,340.6935,4336.8391,165.2033,...,504.3378,337.3071,426.8945,256.0767,101.2934,140.9133,98.4868,1596.9426,1690.2055,1049.6910
2876,Wychavon_2024,4536.8840,4719.6659,4852.5885,1050.9698,2827.2396,1743.5979,1011.1696,7476.1615,276.6867,...,975.1182,549.5931,592.0376,601.9672,309.7937,406.5818,294.7941,2374.2639,2546.4968,2555.4008
2877,Wyre_2024,3429.2857,6433.0227,4096.2627,1134.9555,2440.4056,1617.2333,1273.5345,7492.4422,211.1510,...,747.6944,372.1284,789.8398,455.2651,279.7882,609.0667,384.6796,1820.2942,3471.8748,2200.2732
2878,Wyre Forest_2024,2824.5723,4192.8225,1715.1503,669.5458,1914.3929,1032.5310,540.9155,4575.1599,197.8721,...,462.0661,310.9024,532.5722,189.0564,140.1060,338.8016,62.0079,1469.2563,2221.7179,884.1857
2879,York UA_2024,11191.4953,10728.8109,8518.4221,735.3281,12237.1483,1549.4653,481.0539,15435.7327,275.3700,...,3542.4399,661.6458,531.9657,355.8538,168.4600,194.2375,118.3564,5662.8199,5460.2181,4312.6947

In [ ]:
#load inequality changes dataset
ine = pd.read_csv(f"./CleanedData/Income_Inequality_Changes.csv").iloc[3:]
# create unique Destination identifier by combining council and year
ine['council'] = ine['council'] + '_' + ine['year'].astype(str)
# drop unnecessary columns and rename for clarity
ine.drop(columns=["Unnamed: 0"], axis=1, inplace=True)
# renaming council column to Destination for merging
ine.rename(columns={"council": "Destination"}, inplace=True)
# set index to Destination for easier merging
ine.set_index("Destination")
# display first 10 rows
ine.head(10)

               Destination  year  fw_index  fw_change
3          Birmingham_2019  2019  4.119175  -0.097304
4          Birmingham_2020  2020  4.155534   0.036358
5          Birmingham_2021  2021  3.884944  -0.270590
6          Birmingham_2022  2022  3.799673  -0.085271
7          Birmingham_2023  2023  3.928850   0.129177
8          Birmingham_2024  2024  3.977052   0.048202
9          Birmingham_2025  2025  3.769586  -0.207466
10  City of Edinburgh_2016  2016  4.079887        NaN
11  City of Edinburgh_2017  2017  4.124067   0.044180
12  City of Edinburgh_2018  2018  4.155805   0.031738

In [ ]:
# merging datasets on Destination
df_merged = pd.merge(ine, reg, on='Destination', how='inner')

In [ ]:
#drop NaN values in fw_change column and year column
df_merged = df_merged.dropna(subset=['fw_change'])
# drop year column
df_merged.drop(columns=["year"], axis=1, inplace=True)
#display dataframe
df_merged

,Destination,fw_index,fw_change,income_High,income_Low,income_Mid,0-16,17-34,35-54,55-66,...,Mid_17-34,High_35-54,Low_35-54,Mid_35-54,High_55-66,Low_55-66,Mid_55-66,High_67+,Low_67+,Mid_67+
0,Birmingham_2019,4.119175,-0.097304,40995.4749,21048.2824,45068.4948,6711.7002,35202.5840,9055.7750,1806.0102,...,14234.1683,3421.0072,1627.3915,4007.3763,641.7280,349.6503,814.6319,20776.8835,10679.1448,22880.1544
1,Birmingham_2020,4.155534,0.036358,34981.2892,18566.1902,45029.5323,5750.8143,32903.0310,8402.5857,1603.9052,...,13742.3823,2655.2378,1401.4317,4345.9162,416.7514,295.8621,891.2917,17608.8820,9408.4292,22899.3643
2,Birmingham_2021,3.884944,-0.270590,46946.7735,25996.2389,36474.1168,6558.3183,35501.9449,9948.8720,2052.0210,...,11337.0086,4214.8195,2208.4689,3525.5836,831.4053,494.0435,726.5722,23745.9184,13158.3745,18451.6801
3,Birmingham_2022,3.799673,-0.085271,48804.1539,29731.2534,33587.0973,6933.8597,36251.5587,10045.2554,2072.9124,...,10687.4048,4025.8817,3025.0182,2994.3555,771.6906,632.4027,668.8191,24674.3065,15102.9767,17041.6352
4,Birmingham_2023,3.928850,0.129177,52643.0460,33682.4600,28113.4585,7245.1495,36998.6307,10062.3272,2167.0268,...,9140.0619,4492.8419,3144.0248,2425.4605,904.2903,735.6352,527.1013,26651.8252,17057.0023,14257.0028
5,Birmingham_2024,3.977052,0.048202,45123.5388,41005.9314,32892.0597,7740.0729,37904.1608,11077.9969,2061.9052,...,11261.1010,3917.6441,4342.5552,2817.7976,733.9689,891.4507,436.4856,22812.7309,20857.5812,16567.0820
7,Cornwall UA_2017,3.824193,1.326775,19811.8858,13695.8739,16091.6738,3481.7901,10626.0382,6056.6640,3495.5667,...,3563.6343,2476.3546,1667.2778,1913.0316,1360.1665,1115.6279,1019.7723,10276.9490,7241.8337,8420.5918
8,Cornwall UA_2018,3.700447,-0.123746,18986.4863,10943.0526,17602.2260,3087.6460,10535.3634,5615.5005,3423.4708,...,4092.0355,2228.8627,1295.6721,2090.9657,1443.8575,860.9307,1118.6826,9903.4893,5800.5271,9165.7678
9,Cornwall UA_2019,3.864332,0.163885,18556.8584,13342.0153,17064.6494,3372.6544,10547.0542,5997.4413,3397.8468,...,4125.9830,2368.7502,1720.3440,1908.3471,1294.4287,1049.8540,1053.5641,9674.9425,7081.2383,8892.3456
10,Cornwall UA_2020,3.889493,0.025161,17843.4064,10558.1793,14682.5933,2584.5660,10045.2611,4870.0706,3089.3676,...,3649.7201,2025.5510,1198.5150,1646.0046,1284.8936,920.3831,884.0909,9281.7854,5577.5123,7635.6160
11,Cornwall UA_2021,3.617000,-0.272492,23925.8727,16187.1499,14977.6347,3212.7305,11991.6456,6556.0419,4439.8428,...,3467.5832,3000.1882,1926.1740,1629.6797,1894.4986,1330.6223,1214.7219,12496.0422,8545.0749,7849.2794
12,Cornwall UA_2022,3.368370,-0.248631,20344.3141,12683.7020,12601.5638,2758.6907,10609.3086,5105.5693,3288.4423,...,2999.9100,2338.1282,1427.9530,1339.4881,1424.1041,924.3645,939.9737,10591.8826,6693.6279,6582.0585
13,Cornwall UA_2023,3.335755,-0.032615,21216.0080,10477.2386,13571.8436,2744.7104,10601.3168,5190.5792,3128.3242,...,3392.7914,2442.0041,1235.8075,1512.7676,1514.6863,773.8606,839.7773,11013.4386,5549.7446,7036.9764
14,Cornwall UA_2024,3.321665,-0.014090,18180.1978,11149.7241,14435.4480,2353.5364,10767.3494,4918.1965,2906.0655,...,3838.3613,2015.7346,1380.6108,1521.8511,1156.3113,899.8709,849.8833,9426.8223,5904.8228,7488.5770
16,Leeds_2017,3.793809,0.002369,26053.6561,35089.9710,26473.6455,3438.3385,33041.8784,5500.1181,1279.5326,...,9998.2974,1473.2046,2347.3186,1679.5949,251.8085,620.1719,407.5522,13108.4334,17833.6336,13415.3380
17,Leeds_2018,4.103241,0.309432,24800.8676,26940.0930,36707.9301,3481.7784,33382.2521,5613.1099,1211.7640,...,13060.2123,1413.0980,1528.6455,2671.3664,234.1613,382.5483,595.0544,12495.6252,13643.4772,18620.8839
18,Leeds_2019,3.966088,-0.137153,25243.1097,25240.8031,42734.1855,3555.8037,35258.3203,5867.5157,1351.1129,...,15328.0505,1407.0145,1406.6734,3053.8278,266.6814,362.3741,722.0574,12696.5008,12792.6657,21696.1792
19,Leeds_2020,3.669157,-0.296931,24926.8471,23259.4648,35687.7404,2860.5879,32577.5371,4840.9656,1178.1589,...,12946.3652,1238.2267,1176.0063,2426.7326,243.8125,309.8368,624.5096,12546.2231,11784.4953,18086.0844
20,Leeds_2021,3.653925,-0.015232,27180.2113,35564.9250,26476.8476,3257.4728,33386.2315,5997.0594,1418.5790,...,10167.3663,1669.3403,2686.4980,1641.2211,303.2842,675.0666,440.2282,13683.9372,18068.1882,13410.5158
21,Leeds_2022,3.627039,-0.026886,33460.8919,25438.0272,29980.3441,3324.2924,34027.7122,5240.1174,1270.7476,...,10245.5940,1653.2710,1360.3497,2226.4967,332.8140,351.9889,585.9447,16849.6438,12926.8715,15239.8783
22,Leeds_2023,3.532247,-0.094792,29607.5982,32561.1556,23334.8809,3249.1549,32104.2297,5578.2597,1276.2187,...,8742.3757,1714.4633,2368.4454,1495.3510,310.0607,576.3769,389.7811,14914.3901,16533.5951,11847.7865
23,Leeds_2024,3.498194,-0.034053,28490.6992,33419.1261,26213.3649,3476.7166,32756.4508,6013.7994,1269.7175,...,9797.0760,1686.7956,2544.0656,1782.9382,328.2466,619.4241,322.0468,14343.3349,17018.9637,13244.2073
25,Liverpool_2017,3.908481,0.011801,23740.6669,25065.3204,14763.9925,2973.8030,22890.4793,4609.0959,1014.5841,...,5873.8791,1950.4485,1810.2427,848.4047,396.4173,441.6796,176.4872,11995.0290,12661.9469,7425.0416
26,Liverpool_2018,4.074809,0.166328,22730.7328,23368.8319,19039.4226,2959.8654,23493.7715,4672.5565,1114.8866,...,7823.0244,2004.8205,1742.9734,924.7626,441.4412,467.0378,206.4076,11502.8663,11817.3620,9577.6790
27,Liverpool_2019,3.890309,-0.184499,22626.1988,21711.4261,21711.4663,3060.2882,23602.3005,4965.1818,1070.8915,...,8694.3811,1912.3655,1817.1601,1235.6562,411.0898,393.4523,266.3494,11441.5576,10977.3823,10931.4893
28,Liverpool_2020,3.806084,-0.084225,24812.9081,24517.8227,17395.6826,2711.3850,24908.2138,4404.7900,1037.2237,...,7282.6378,1869.3898,1762.0752,773.3250,441.0395,419.5659,176.6183,12536.3850,12398.5183,8729.8976
29,Liverpool_2021,3.550117,-0.255967,18631.7005,27615.6984,30051.4964,2750.1049,28675.3819,5219.2034,1147.1826,...,11262.4903,1369.0598,1895.6935,1954.4501,233.9609,450.7795,462.4422,9367.8097,13928.7651,15210.4477
30,Liverpool_2022,3.527578,-0.022539,25188.1140,31292.5553,22539.1048,2796.8265,30112.2482,5029.9836,1195.4882,...,9498.1850,1622.6404,2415.1383,992.2049,307.6458,662.0253,225.8171,12673.7578,15868.2300,11343.2398
31,Liverpool_2023,3.436744,-0.090834,30049.7345,19676.2233,24440.2301,2850.7798,27809.4135,4946.9575,1131.5331,...,9068.7658,2337.3835,1002.4673,1607.1067,523.2877,243.9139,364.3315,15164.3679,9899.7506,12363.3855
32,Liverpool_2024,3.355194,-0.081550,22778.4621,26850.4628,26190.0857,3121.9655,28015.3608,5291.8786,1163.9135,...,9579.8673,1593.3772,1945.5043,1752.9971,296.6043,455.3732,411.9360,11457.4970,13546.1256,13222.2696
34,Northern Ireland_2017,3.994272,-0.113296,7663.4161,3477.5789,4720.6520,1103.6857,4194.5096,1812.5013,631.3512,...,1363.7525,955.7083,410.6872,446.1058,301.5820,157.0420,172.7272,3905.5656,1812.3054,2401.7282
35,Northern Ireland_2018,3.894684,-0.099588,6302.5869,3297.8856,6018.6177,1052.2172,4142.9249,1794.7010,633.9403,...,1766.8931,825.9800,377.5807,591.1403,254.3230,178.6606,200.9567,3221.3815,1703.0990,3070.8263
36,Northern Ireland_2019,3.825519,-0.069164,7661.1058,3421.1111,6238.5616,1133.9700,4552.4097,2074.7160,710.5518,...,1940.4339,1040.0961,432.7686,601.8513,319.0792,204.5567,186.9159,3902.3442,1770.7092,3176.0776
37,Northern Ireland_2020,3.878743,0.053223,7674.7814,3070.3544,4073.5178,922.5325,3969.1183,1761.3631,585.8063,...,1058.8988,932.1778,349.2895,479.8958,248.0202,146.4551,191.3310,3912.6717,1584.4669,2082.6948
38,Northern Ireland_2021,3.790647,-0.088096,10992.1295,4293.4164,4619.6727,1029.2056,5257.2493,2490.1743,906.8850,...,1083.1304,1371.0800,505.0389,614.0554,405.3442,266.9041,234.6367,5606.0273,2225.3481,2390.3290
39,Northern Ireland_2022,3.660390,-0.130258,8866.1043,2999.1380,3477.3903,990.0985,3746.7500,1987.5424,722.2984,...,757.7509,1151.4743,374.2692,461.7989,301.7149,194.6060,225.9775,4534.8226,1572.0921,1789.0286
40,Northern Ireland_2023,3.749717,0.089327,10005.8095,3887.3999,4125.6115,1250.7968,4495.4428,2333.1628,708.6989,...,985.9213,1285.5606,508.5189,539.0833,366.7884,158.5575,183.3530,5103.3538,2015.3400,2112.0258
41,Northern Ireland_2024,3.493668,-0.256048,9074.7564,3916.2137,4713.0714,1048.4123,4775.1627,2148.8164,686.5650,...,1190.7827,1075.3456,469.1157,604.3551,318.4370,170.7225,197.4055,4624.0028,2016.3146,2404.7677
43,Scotland_2017,3.890660,0.016754,37075.6572,21622.2693,19771.5225,5141.7405,19224.9562,9855.8777,3862.3020,...,4808.9208,4706.2590,2683.9718,2465.6469,1445.8013,1356.8595,1059.6412,18918.9321,11283.3939,10182.2466
44,Scotland_2018,3.872403,-0.018256,32343.2705,20725.8977,25672.5540,5128.8177,19464.9631,9573.2923,4012.0021,...,6391.2391,4066.5398,2469.2646,3037.4879,1386.7072,1279.9884,1345.3065,16540.5232,10779.3203,13242.8035
45,Scotland_2019,3.847050,-0.025353,34193.7468,20386.3182,24324.4242,5063.2650,19435.7907,9785.0359,3977.9183,...,6240.3359,4441.8075,2503.5998,2839.6286,1447.2196,1328.0892,1202.6095,17481.2660,10629.5222,12531.6911
46,Scotland_2020,3.807720,-0.039330,32846.4640,18068.3503,18711.3199,3995.6960,17786.1586,8379.3784,3550.0064,...,4602.1820,4001.2113,2129.2329,2248.9342,1408.4331,1157.7800,983.7933,16797.7539,9444.0186,9673.1223
47,Scotland_2021,3.704806,-0.102914,45083.3485,25617.4343,23647.4113,4582.5745,22754.1094,12397.5338,5789.9641,...,5484.6421,6133.5392,3221.1264,3042.8682,2199.3097,1954.5083,1636.1461,23089.0171,13463.1923,12271.8029
48,Scotland_2022,3.622584,-0.082222,44659.0049,21196.0289,19875.7768,4708.9580,21492.0594,10323.2305,4858.6046,...,4713.7845,5387.5317,2491.9824,2443.7164,2114.6681,1465.4840,1278.4525,22902.0358,11129.0321,10316.8902
49,Scotland_2023,3.555215,-0.067369,40791.5505,22184.7360,18414.5515,4585.8586,19778.6912,10422.4437,4585.8229,...,4266.4075,5173.8987,2846.1784,2402.3666,2004.6494,1497.2870,1083.8865,20925.6296,11559.0601,9533.3319
50,Scotland_2024,3.499974,-0.055241,37186.1123,23066.6086,21257.1373,4565.4182,20730.2730,10177.5817,4046.5367,...,5379.0744,4642.4256,2919.7157,2615.4404,1522.2108,1387.4492,1136.8767,19004.9301,12016.7691,10968.3494

In [7]:
# Drop non-numeric columns
X = df_merged.drop(columns=['Destination', 'fw_index', 'fw_change'])
y = df_merged['fw_change']

# Add a constant term for the intercept
X = sm.add_constant(X)

In [ ]:
# Fit the OLS regression model
model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              fw_change   R-squared:                       0.539
Model:                            OLS   Adj. R-squared:                  0.308
Method:                 Least Squares   F-statistic:                     2.336
Date:                Sun, 14 Dec 2025   Prob (F-statistic):             0.0234
Time:                        17:54:24   Log-Likelihood:                 19.165
No. Observations:                  46   AIC:                            -6.331
Df Residuals:                      30   BIC:                             22.93
Df Model:                          15
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           0.0045      0.091      0.050      0.961      -0.182       0.191
income_High     0.0013      0.001      2.028      0.052    -9.3e-06       0.003
income_Low      0.0001      0.000      0.265      0.792      -0.001       0.001
income_Mid     -0.0018      0.001     -3.460      0.002      -0.003      -0.001
0-16         7.047e-05      0.000      0.265      0.793      -0.000       0.001
17-34          -0.0002      0.000     -0.979      0.336      -0.001       0.000
35-54          -0.0003      0.000     -1.778      0.085      -0.001    4.88e-05
55-66          -0.0003      0.000     -0.714      0.481      -0.001       0.001
67+             0.0004      0.000      0.797      0.432      -0.001       0.001
High_0-16       0.0012      0.001      2.374      0.024       0.000       0.002
Low_0-16       -0.0004      0.000     -1.077      0.290      -0.001       0.000
Mid_0-16       -0.0007      0.000     -1.444      0.159      -0.002       0.000
High_17-34      0.0009      0.000      2.284      0.030    9.95e-05       0.002
Low_17-34      -0.0001      0.000     -0.428      0.672      -0.001       0.000
Mid_17-34      -0.0010      0.000     -2.791      0.009      -0.002      -0.000
High_35-54      0.0009      0.001      1.785      0.084      -0.000       0.002
Low_35-54      -0.0001      0.000     -0.278      0.783      -0.001       0.001
Mid_35-54      -0.0011      0.001     -1.801      0.082      -0.002       0.000
High_55-66      0.0020      0.001      2.001      0.054   -4.07e-05       0.004
Low_55-66       0.0011      0.001      1.224      0.230      -0.001       0.003
Mid_55-66      -0.0034      0.001     -4.038      0.000      -0.005      -0.002
High_67+       -0.0038      0.002     -2.372      0.024      -0.007      -0.001
Low_67+        -0.0003      0.001     -0.246      0.807      -0.002       0.002
Mid_67+         0.0044      0.001      3.376      0.002       0.002       0.007
==============================================================================
Omnibus:                       29.319   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.773
Skew:                           1.721   Prob(JB):                     1.92e-15
Kurtosis:                       7.850   Cond. No.                     1.01e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.03e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
# summary table of OLS regression results
ols_full_df = pd.DataFrame({
    'coef': model.params,
    'std_err': model.bse,
    't': model.tvalues,
    'p_value': model.pvalues,
    'CI_lower': model.conf_int()[0],
    'CI_upper': model.conf_int()[1]
})
# display full table without truncation
pd.set_option('display.max_rows', None)
print(ols_full_df)

                 coef   std_err         t   p_value  CI_lower  CI_upper
const        0.004533  0.091257  0.049670  0.960715 -0.181838  0.190903
income_High  0.001311  0.000647  2.027888  0.051534 -0.000009  0.002631
income_Low   0.000107  0.000403  0.265439  0.792487 -0.000715  0.000929
income_Mid  -0.001810  0.000523 -3.459550  0.001644 -0.002878 -0.000741
0-16         0.000070  0.000266  0.264775  0.792994 -0.000473  0.000614
17-34       -0.000198  0.000202 -0.978737  0.335537 -0.000611  0.000215
35-54       -0.000329  0.000185 -1.778334  0.085487 -0.000707  0.000049
55-66       -0.000317  0.000444 -0.713965  0.480767 -0.001225  0.000590
67+          0.000382  0.000479  0.796533  0.431981 -0.000597  0.001361
High_0-16    0.001231  0.000519  2.374036  0.024194  0.000172  0.002290
Low_0-16    -0.000444  0.000412 -1.077020  0.290056 -0.001286  0.000398
Mid_0-16    -0.000717  0.000496 -1.444133  0.159065 -0.001731  0.000297
High_17-34   0.000939  0.000411  2.284406  0.029593  0.000099  0.001778
Low_17-34   -0.000117  0.000273 -0.428071  0.671657 -0.000673  0.000440
Mid_17-34   -0.001020  0.000365 -2.790795  0.009055 -0.001766 -0.000274
High_35-54   0.000930  0.000521  1.784695  0.084428 -0.000134  0.001994
Low_35-54   -0.000135  0.000485 -0.278457  0.782572 -0.001125  0.000855
Mid_35-54   -0.001124  0.000624 -1.800908  0.081779 -0.002399  0.000151
High_55-66   0.001983  0.000991  2.001242  0.054484 -0.000041  0.004006
Low_55-66    0.001063  0.000868  1.223979  0.230486 -0.000710  0.002835
Mid_55-66   -0.003363  0.000833 -4.037553  0.000344 -0.005063 -0.001662
High_67+    -0.003772  0.001590 -2.372435  0.024282 -0.007018 -0.000525
Low_67+     -0.000260  0.001058 -0.245864  0.807462 -0.002420  0.001900
Mid_67+      0.004414  0.001307  3.376117  0.002048  0.001744  0.007083

This section examines if migration into an area from higher income areas is associated with yoy changes in income inequality.

In [ ]:
analysis_df = df_merged[["fw_change", "income_High"]].dropna()

y = analysis_df["fw_change"]
X = analysis_df[["income_High"]]
X = sm.add_constant(X)

model_main = sm.OLS(y, X).fit()
print(model_main.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              fw_change   R-squared:                       0.001
Model:                            OLS   Adj. R-squared:                 -0.022
Method:                 Least Squares   F-statistic:                   0.03925
Date:                Mon, 15 Dec 2025   Prob (F-statistic):              0.844
Time:                        18:45:20   Log-Likelihood:                 1.3906
No. Observations:                  46   AIC:                             1.219
Df Residuals:                      44   BIC:                             4.876
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const          -0.0115      0.085     -0.136      0.893      -0.183       0.160
income_High -5.834e-07   2.94e-06     -0.198      0.844   -6.52e-06    5.35e-06
==============================================================================
Omnibus:                       73.979   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              975.224
Skew:                           4.069   Prob(JB):                    1.71e-212
Kurtosis:                      24.038   Cond. No.                     6.97e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.97e+04. This might indicate that there are
strong multicollinearity or other numerical problems.


The coefficient on income_high is small and statistically insignificant indicating that migration from high income areas is not strongly associated with short term change in income inequality within this data set tested. 

The model captures the relationship between high income migration and income inequalty changes but by treating all migration in the same way. In reality the flows of that migration differ by age and income origin which may have effects. Therefore to explore whether the relationship varies by the type of flow of migration we will look at a more disaggregated version.

In [ ]:
cols = [
    "fw_change",
    "High_0-16", "High_17-34", "High_35-54", "High_55-66", "High_67+",
    "Mid_0-16", "Mid_17-34", "Mid_35-54", "Mid_55-66", "Mid_67+",
    "Low_0-16", "Low_17-34", "Low_35-54", "Low_55-66", "Low_67+"
]

analysis_df = df_merged[cols].dropna()

y = analysis_df["fw_change"]
X = analysis_df.drop(columns=["fw_change"])
X = sm.add_constant(X)

model_stratified = sm.OLS(y, X).fit()
print(model_stratified.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              fw_change   R-squared:                       0.539
Model:                            OLS   Adj. R-squared:                  0.308
Method:                 Least Squares   F-statistic:                     2.336
Date:                Mon, 15 Dec 2025   Prob (F-statistic):             0.0234
Time:                        18:53:35   Log-Likelihood:                 19.165
No. Observations:                  46   AIC:                            -6.331
Df Residuals:                      30   BIC:                             22.93
Df Model:                          15
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0045      0.091      0.050      0.961      -0.182       0.191
High_0-16      0.0026      0.001      2.058      0.048    1.98e-05       0.005
High_17-34     0.0021      0.001      1.769      0.087      -0.000       0.004
High_35-54     0.0019      0.001      1.662      0.107      -0.000       0.004
High_55-66     0.0030      0.002      1.652      0.109      -0.001       0.007
High_67+      -0.0021      0.001     -1.800      0.082      -0.004       0.000
Mid_0-16      -0.0025      0.001     -2.287      0.029      -0.005      -0.000
Mid_17-34     -0.0030      0.001     -3.169      0.004      -0.005      -0.001
Mid_35-54     -0.0033      0.001     -2.957      0.006      -0.006      -0.001
Mid_55-66     -0.0055      0.002     -3.645      0.001      -0.009      -0.002
Mid_67+        0.0030      0.001      3.132      0.004       0.001       0.005
Low_0-16      -0.0003      0.001     -0.358      0.723      -0.002       0.001
Low_17-34     -0.0002      0.001     -0.315      0.755      -0.002       0.001
Low_35-54     -0.0004      0.001     -0.446      0.659      -0.002       0.001
Low_55-66      0.0009      0.001      0.631      0.533      -0.002       0.004
Low_67+        0.0002      0.001      0.345      0.733      -0.001       0.002
==============================================================================
Omnibus:                       29.319   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               67.773
Skew:                           1.721   Prob(JB):                     1.92e-15
Kurtosis:                       7.850   Cond. No.                     8.20e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.2e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

This model includes multiple stratified migration variables. It shows signs of multicollinearity therefore individual coefficient esitmates might be unstable. Because of this, the results are exploratory rather than causal. Despite this limitation, the model suggests that the relationship between migration and inequality differ across groups. Several high income origin age groups are positively associated with an increase in income polarisation; several mid income origin groups are negatively associated with inequality change. This indicates that the grouping of migration flows may matter more than overall volumes of migration.

In [ ]:
high_cols = [
    "High_0-16", "High_17-34", "High_35-54", "High_55-66", "High_67+"
]

analysis_df = df_merged[["fw_change"] + high_cols].dropna()

y = analysis_df["fw_change"]
X = analysis_df[high_cols]
X = sm.add_constant(X)

model_high_only = sm.OLS(y, X).fit()
print(model_high_only.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              fw_change   R-squared:                       0.065
Model:                            OLS   Adj. R-squared:                 -0.052
Method:                 Least Squares   F-statistic:                    0.5580
Date:                Mon, 15 Dec 2025   Prob (F-statistic):              0.731
Time:                        19:09:47   Log-Likelihood:                 2.9208
No. Observations:                  46   AIC:                             6.158
Df Residuals:                      40   BIC:                             17.13
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0522      0.095     -0.548      0.587      -0.245       0.141
High_0-16      0.0011      0.001      0.818      0.418      -0.002       0.004
High_17-34     0.0008      0.001      0.679      0.501      -0.002       0.003
High_35-54     0.0006      0.001      0.574      0.569      -0.002       0.003
High_55-66     0.0013      0.002      0.745      0.460      -0.002       0.005
High_67+      -0.0008      0.001     -0.683      0.498      -0.003       0.002
==============================================================================
Omnibus:                       65.356   Durbin-Watson:                   2.085
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              655.347
Skew:                           3.492   Prob(JB):                    4.93e-143
Kurtosis:                      20.122   Cond. No.                     4.69e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.69e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

When restricting the model to high income origin groups only, it does not reveal any statstically significant associations to changes in income inequality. The coefficients are small and collectively explain little variation in fw change. The results indidcate that high income migration even when grouped by age, is not a strong predictor of short term changes in income inequality in this dataset.